html {
    font-size: 100%;
}
p {
    font-size: 1em;
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.3em;
}


ul.nav {
    border-bottom: 1px solid #08c;
    padding-top: 1em;
    /*background-color: #fff;*/
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}

ul.nav > .brand {
    font-size: 26px;
}
section>.container {
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}


ul.services {
    border-radius: 4px;
    border-bottom: none;
    padding-top: 0;
}

ul.services>li>a {
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid;
}
ul.services>li>a:hover {
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid;
}
ul.services>li>a>.glyphicon {
    margin-right: 5px;
}