html {

}
body {
    background-color: #2b81af;
    /*background-color: #fafbfc;*/
    /*background-image: linear-gradient(163deg,#270530 10%,#196d82 36%,#fff 70%);*/
    /*background-size: 100% 1100px;*/
    /*background-repeat: no-repeat;*/
}



ul.nav {
    border-bottom: 1px solid #08c;
    padding-top: 1em;
    background-color: #fff;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}


ul.nav > .brand {
    font-size: 26px;
}
