@background: #F5F5F5;
@cards: #FFF;


@black: #000;

// Indigo
@primary-color: #3F51B5; // Indigo
@primary-light-color: #C5CAE9; // Indigo 100
@primary-dark-color: #303F9F; // Indigo 700

// Orange
//@accent-color: #FF9100; // Orange A400
//@accent-dark-color: #FF6D00; // Orange A700
//@accent-light-color: #FFAB40; // Orange A200

// RED
@accent-color: #FF1744; // Orange A400
@accent-dark-color: #D50000; // Orange A700
@accent-light-color: #FF5252; // Orange A200



@bg-primary: @primary-dark-color;