@background: @primary-light-color;
@cards: #FFF;


@black: #000;

@primary-color: #2196F3; // Blue
@primary-light-color: #90CAF9; // Blue 200

@accent-color: #FFC107; // Amber
@accent-dark-color: #FF8F00; // Amber 700

@support-color: #00BCD4; // Cyan