@background: #FAFAFA;
@cards: #FFF;


@black: #000;

@primary-color: #3F51B5; // Indigo
@primary-light-color: #C5CAE9; // Indigo 100
@primary-dark-color: #303F9F; // Indigo 700
//
//@accent-color: #FFD740; // Amber A200
//@accent-dark-color: #FFAB00; // Amber A700
//@accent-light-color: #FFE57F; // Amber A200

@accent-color: #FF9100; // Orange A400
@accent-dark-color: #FF6D00; // Orange A700
@accent-light-color: #FFAB40; // Orange A200