@import "colors";
@import "btns";
@import "footer";
@import "navbar";
@import "jumbotron";

@default-size: 16px;
@ratio: 1.6180; // Golden Ratio

html {
    font-family: 'Nunito Sans', sans-serif;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: fade(@black, 54%);
    background-color: @background;
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: @primary-color;
    font-size: @default-size * @ratio * @ratio;
    margin-bottom: 26.17px;
    padding-top: 5px;
}
.section {
    border-bottom: 1px solid fade(#000, 12%);
    padding-bottom: 30px;
    margin-bottom: 30px * @ratio;
}
h1.separate {
    color: @primary-color;
}
h1:after {
    content: "";
    display: block;
    width: 46px;
    height: 3px;
    //background: fade(@accent-color, 87%);
    background: @accent-color;
    margin-top: 8.18px;
    left: 0;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: @default-size * @ratio;
    margin-bottom: 16.18px;
    color: fade(@black, 87%);
}
h2.white {
    color: #FFFFFF;
}
p.raleway {
    font-family: 'Raleway', sans-serif;
}
p.nunito {
    font-family: 'Nunito Sans', sans-serif;
}
p.highlight {
    color: @primary-color;
    font-weight: bold;
}
.bold {
    font-weight: bold;
    color: fade(@black, 87%);
}
.italic {
    font-style: italic;
    color: fade(@black, 38%);
}
.separate {
    border-bottom: 1px solid @accent-color;
}
.holder {
    background-color: #F5F5F5;
}
.holder-white {
    background-color: #FFFFFF;
}
.holder {
    background: #FFF;
}
.holder:nth-child(even){
    background: @background;
}

.content {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background: #FFFFFF;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 50px;
    border-radius: 3px;

}
.content:nth-child(2n) {
    background: none;
}
.square {
    height: 125px;
    display: block;
}
.bg.primary{
    background-color: @primary-color;
}
.bg.accent {
    background-color: @accent-color;
}

a {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: @accent-dark-color;
    &:hover {
        cursor: hand;
        text-decoration:none;
        color: @accent-color;
    }
}


.icon-holder {
    background: @primary-dark-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon-holder .glyphicon {
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    font-size: 30px;
    color: #FFFFFF;
}